@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');

:root {
  --grey : #eff2f1 ; 
  --lightblue : #89c6ff;
  --darkblue : #60a6cc;
  --customblack: #283136;
  --greyishblack : #698797; 
}
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--grey);
  font-family: 'Nunito', sans-serif;
}
.navbar, .footer{
  padding: 20px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1{
color: var(--lightblue);
font-size: 2rem;
margin: 0;
}
.menu {
  display: flex;
  gap: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.3s;
}
.navbar span {
  color: var(--greyishblack);
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 300;
}
.navbar h1:hover {
color: var(--darkblue);
cursor: pointer;
transition: 0.2s;
}
.navbar span:hover{
  color: var(--customblack);
  cursor: pointer;
  transition: 0.2s;
}
.footer{
  background-color: var(--customblack);
}
.footer h1{
  color: var(--lightblue);
  font-size: 2rem;
}
.footer h2{
  font-size: 1rem;
  color: white;
}
.img-fluid{
  width: 50px;
}
.homepage1{
  display: flex;
  justify-content: center;
  padding: 30px 0;
  gap: 4rem;
}
.maintext {
  margin-top: 70px;
}
.maintext h1{
  font-size: 3rem;
  width: 30rem;
} 
.maintext p {
  font-size: 1.2rem;
  width: 34rem;
  color: var(--greyishblack);
  font-weight: 300;
  margin: 20px 0;
}
.homepage2{
  margin: 0 200px;
  padding: 2.5rem 0;
}
.section{
  display: flex;
  justify-content: space-between;
}
.text{
   margin-top: 80px ;
}
.text h2{
  color: var(--customblack);
  font-size: 1.3rem;
}
.text p{
  max-width: 30rem;
  color: var(--greyishblack);
  font-size: 1.1rem;
}
.homepage3{
  background-color: var(--lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2.5rem;
  font-size: 2rem;
  font-weight: 300;
}
.homepage3 img {
  width: 28rem;
}
.homepage4{
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 8rem;
}
.homepage4 p {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: var(--greyishblack);
  font-weight: 300;
}
.download, .buybooks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download img, .buybooks img {
  width: 20rem;
}
.img-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 50px 0 150px 0;
}
.searchpage{
margin: 60px 200px;
}
.searchpage p {
  max-width: 30rem;
  margin-top: 1rem;
}
.search {
margin-top: 3rem;
text-align: center;
display: flex;
padding: 0 14rem;
justify-content: center;
align-items: center;
}
.search img {
  width: 1rem;
}
.search-section{
  display: flex;
  flex-direction: column;
}
.bookinfo{
  display: flex;
}
@media (max-width: 1200px) {
  .maintext h1{
    width: 25rem;
  } 
  .maintext p {
    width: 29rem;
  }
  .homepage1 img {
    width: 30rem;
  }
  .text h2{
    width: 20rem;
  }
  .text p {
    width: 27rem;
  }
  .searchpage{
    margin: 40px 100px;
  }
}
@media (max-width: 1050px) {
  .maintext h1{
    width: 18rem;
  } 
  .maintext p {
    width: 23rem;
  }
  .homepage1 img {
    width: 20rem;
  }
  .text p {
    width: 23rem;
  }
  .menu {
    display: none;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
  }

  .navbar.open .menu {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .homepage3 img {
    width: 24rem;
  }
  .homepage3 h1 {
    font-size: 1.5rem;
  }
  .homepage4 p {
    text-align: center;
  }
 .homepage2{
  margin: 0 70px;
 }
 .navbar{
  padding: 10px 100px;
 }
 .search{
  padding: 0 10rem;
 }
}
@media (max-width: 750px) {
  .homepage1 img {
    display: none;
  }
  .homepage1 {
    text-align: center;
    padding: 0;
  }
  .homepage1 h1{
    width: 30rem;
  }
  .maintext p {
    width: 33rem;
  }
  .section {
    flex-direction: column;
  }
  .section img {
    width: 20rem;
  }
  .technology {
    display: none;
  }
  .homepage2{
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text{
    margin-top: 20px;
  }
  .footer{
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .footer h2{
   width: 10rem;
  }
  .homepage4{
    flex-direction: column;
  }
  .homepage3 h1{
    text-align: center;
  }
  .search{
    padding: 0 4rem;
}
.searchpage p {
  text-align: center;
}
.searchpage dt {
  margin-bottom: 20px;
}
}
@media (max-width: 510px) {
.homepage1 h1{
  width: 25rem;
}
.homepage1 p{
  width: 27rem;
}
.search {
  padding: 0 1rem;
}
}
@media (max-width: 470px) {
  .homepage1 h1{
    max-width: 25rem;
  }
  .homepage1 p {
    max-width: 28rem;
  }
  .navbar {
    padding: 10px ;
  }
  .searchpage{
    margin: 2px 50px;
  }
}
@media (max-width: 370px) {
  .homepage1 h1{
    max-width: 20rem;
  }
  .homepage1 p{
    max-width: 20rem;
  }
  .footer, .navbar{
    padding: 5px;
  }
  .homepage2 p {
    width: 20rem;
  }
  .bookinfo{
    flex-direction: column;
    text-align: center;
  }
  .bookinfo img{
    height: 10rem;
    object-fit: contain;
  }
}
