@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #1f2937;
  --text-dark: #ffffff;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
